*{
  margin: 0;
}
html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  transition: background-color, color 1s ease-in-out;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
}
body.loading{
  background-color: #2980b9;
  color: rgba(255,255,255,0.87);
  overflow: hidden;
}
body h1{
  font-weight: 300;
  font-size: 16px;
  padding: 28px 0;
}
header{
  text-align: center;
}
#loading{
  height: 100%;
}
.ldn{
  display: block;
  text-align: center;
  color: rgba(255,255,255,0.54);
}
.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
}

.cube1, .cube2 {
  background-color: #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.loading .images,
.loading .css{
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.images, .css{
  opacity: 1;
}

.item {
  display: flex;
}
.image {
  width: 100px;
  margin-right: 20px;
}
.meta {
  flex: 1;
}
#images {
  display: flex;
  flex: 1;
  flex-direction: column;
}
img.prev-image {
  max-width: 100px;
  max-height: 100px;
}